<%- include('partials/header') %>

<div class="jumbotron text-center">
  <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
  <a class="btn btn-dark btn-lg" href="/submit" role="button">What's your secret story</a>
  <br>
  <br>
  <p class="display-4">Time will reveal all secrets</p>
  <div class="container">

    <br><br><br>

    <%usersWithSecrets.forEach(function(user){%>


    <%user.secret.forEach(function(u){%>
    <p class="secret-text"><%=u%></p>

    <%})%>



    <hr>


    <%})%>



  </div>
</div>


<%- include('partials/footer') %>