body {
  background-color: #E8ECEF;
}

.centered {
  padding-top: 200px;
  text-align: center;
}

.secret-text {
  border-radius: 10px;
  text-align: center;
  font-size: 1.2rem;
  color: #fff;
  background-color: #000;
}